#cv-form{
    /* display: none; */
}
#cv-template{
    display: none;
}
.myimg{
    border-radius: 50%;
    width: 200px;
}
.background{
    background-color: aqua;
}
body {
  background: url("bkg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  /* background: black; */

  color: white;
}
