#cv-form{
    /* display: none; */
}
#cv-template{
    display: none;
}
.myimg{
    border-radius: 50%;
    width: 200px;
}
.background{
    background-color: aqua;
}
body {
  background-color: gray;
  color: black;
  font-family: 'Raleway', sans-serif;
  font-family: 'Urbanist', sans-serif;
}
